@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");
* {
  font-family: "Domine", serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel__cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden; /* Prevent horizontal scrolling */
  width: 100%; /* Ensure the cards fit within the container */
}

.carousel__card {
  flex: 0 0 calc(33.3333% - 20px); /* Three cards on larger screens */
  margin: 0 10px; /* Adjust card margin */
  background-color: #f3f3f3;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.container__button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  padding: 10px;
}

.container__button.prev {
  left: 10px;
}

.container__button.next {
  right: 10px;
}

/* Tablet devices (medium screens) */
@media (max-width: 768px) {
  .carousel__card {
    flex: 0 0 calc(50% - 20px); /* Show 2 cards on medium screens */
  }
}

/* Mobile devices (small screens) */
@media (max-width: 480px) {
  .carousel__card {
    flex: 0 0 calc(100% - 20px); /* Show 1 card on small screens */
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .carousel {
    display: block; /* For better alignment on smaller screens */
  }
}
