.features {
  background-color: #125875;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 10px;
  width: 100%;
}
.icons {
  background-color: #ff7350;
  display: block;
  border-radius: 50%;
  margin: 15px;
  color: #fff;
  height: 75px;
  width: 75px;
  margin-top: 35px;
  margin-left: 34px;
}
.image {
  height: 100%;
  width: 100%;
}
@media (width <= 768px) {
  .features {
    display: block;
  }
}
